# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
/greenlight-frontend/node_modules/ # 确保前端的 node_modules 也被忽略
/greenlight-frontend/dist/

# Python
__pycache__/
*.pyc
.Python
.venv/
venv/ # 你的虚拟环境目录
env/  # 如果你用 env 作为虚拟环境名称
*.sqlite3
*.db # 忽略所有 .db 文件，包括你的 database.db
.flaskenv

# OS specific
.DS_Store
Thumbs.db
